## Stack Overflow Tag Analysis

The Stack Overflow dataset is a seminal dataset used by tech market researchers, because it is open, comprehensive, and behavioral in nature. It was first made available for public consumption in 2010, and encompasses not just questions and answer posts from the developer community but also technology tags associated with each post. As a result, these tags act as a good market proxy of user adoption, interest or disterest from a behavioral perspective: the more posts with a certain tag, the more indicative interest of that certain tag. The time series nature of this dataset also make it possible to gauge the waxing and waning of a tag, while also indicating changing affiliation among tags. Finally, additional metadata about users, badge contests and an annual developer survey provide additional context to help make business/actionable decisions, leading to measurable outcomes.

Thus, for my capstone project I would like to analyze technology tags in the Stack Overflow dataset in order to better understand technology adoption curves and affiliations among technologies, depending on certain cohorts of developers. My team and I at Microsoft perfomed a similar analysis in 2016, where we found that OSS developers gravitated towards AWS and Google, as there were very few OSS offerings on Azure. We also realized that Microsoft had not reached out to OSS developers proactively, even with the limited offers. This 'wake up call' generated massive investment in development and marketing of OSS technologies on the Azure cloud/platform.

Five years later, Microsoft would like to know if their efforts have paid off. They have seen fantastic growth in their OSS services and technologies, but are they keeping up with the market? Have they been able bring new developers onto their platform, or is this adoption coming from existing developers who have become 'polyglots'? And have the 'islands of technologies' that used to center around just AWS and Google begun to diffuse and include Azure? ...or is Azure still an island unto itself?

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

#preprocessing
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler
from scipy import stats

# pipelines
from sklearn.pipeline import Pipeline

# Regression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

# NLP transformers
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer

# classifiers you can use
from sklearn.dummy import DummyClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier

# model selection bits
from sklearn.model_selection import GridSearchCV, train_test_split, cross_val_score, ShuffleSplit, RandomizedSearchCV
from sklearn.model_selection import StratifiedShuffleSplit, StratifiedKFold, KFold
from sklearn.model_selection import learning_curve, validation_curve

# evaluation
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report, fbeta_score

In [2]:
posts = pd.read_csv("/Users/bens_mac/Documents/CodingNomads/SO_posts_BIG.csv")
users = pd.read_csv("/Users/bens_mac/Documents/CodingNomads/SO_users_BIG.csv")

In [3]:
posts.head()

,id,creation_date,last_activity_date,owner_user_id,post_type_id,tags,view_count
0,66138537,2021-02-10 14:11:57.947 UTC,2021-02-10 14:11:57.947 UTC,8384006.0,1,dataexplorer,2
1,66229417,2021-02-16 17:40:44.097 UTC,2021-02-16 17:40:44.097 UTC,12549160.0,1,rstudio-server,2
2,66288134,2021-02-20 04:49:09.76 UTC,2021-02-20 04:49:09.76 UTC,15246800.0,1,routes,2
3,66293452,2021-02-20 15:43:15.133 UTC,2021-02-20 15:43:15.133 UTC,7822211.0,1,angular-dynamic-components,2
4,66361333,2021-02-25 01:56:26.023 UTC,2021-02-25 01:56:26.023 UTC,2713214.0,1,amazon-eks|elastic-network-interface,2

In [4]:
users.head()

,id,display_name,age,creation_date,last_access_date,location,reputation
0,14712167,nicom,NaN,2020-11-26 09:26:50.507 UTC,2021-02-27 13:20:10.693 UTC,NaN,19
1,14717603,Donkey,NaN,2020-11-27 05:56:10.18 UTC,2021-02-18 10:38:39.56 UTC,NaN,43
2,14785218,redshorts17,NaN,2020-12-08 07:42:10.147 UTC,2021-01-08 13:08:27.023 UTC,NaN,89
3,14808842,PerekatovSergey,NaN,2020-12-11 16:09:17.147 UTC,2021-02-26 14:26:46.983 UTC,Russia,26
4,14916620,leung2,NaN,2020-12-31 03:02:17.93 UTC,2021-02-14 11:27:27.557 UTC,NaN,33

In [5]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10445772 entries, 0 to 10445771
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  int64
 1   creation_date       object
 2   last_activity_date  object
 3   owner_user_id       float64
 4   post_type_id        int64
 5   tags                object
 6   view_count          int64
dtypes: float64(1), int64(3), object(3)
memory usage: 557.9+ MB

In [6]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14080580 entries, 0 to 14080579
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   id                int64
 1   display_name      object
 2   age               float64
 3   creation_date     object
 4   last_access_date  object
 5   location          object
 6   reputation        int64
dtypes: float64(1), int64(2), object(4)
memory usage: 752.0+ MB

In [7]:
posts.dropna()

,id,creation_date,last_activity_date,owner_user_id,post_type_id,tags,view_count
0,66138537,2021-02-10 14:11:57.947 UTC,2021-02-10 14:11:57.947 UTC,8384006.0,1,dataexplorer,2
1,66229417,2021-02-16 17:40:44.097 UTC,2021-02-16 17:40:44.097 UTC,12549160.0,1,rstudio-server,2
2,66288134,2021-02-20 04:49:09.76 UTC,2021-02-20 04:49:09.76 UTC,15246800.0,1,routes,2
3,66293452,2021-02-20 15:43:15.133 UTC,2021-02-20 15:43:15.133 UTC,7822211.0,1,angular-dynamic-components,2
4,66361333,2021-02-25 01:56:26.023 UTC,2021-02-25 01:56:26.023 UTC,2713214.0,1,amazon-eks|elastic-network-interface,2
...,...,...,...,...,...,...,...
10445766,42686301,2017-03-09 03:48:06.533 UTC,2017-03-10 11:30:01.587 UTC,2410131.0,1,mysql,95
10445767,42670128,2017-03-08 11:29:40.897 UTC,2017-03-08 20:26:48.12 UTC,1958365.0,1,c#|sql-server|asp.net-mvc|entity-framework,1452
10445769,42905797,2017-03-20 14:09:22.073 UTC,2017-03-20 17:11:44.09 UTC,7709628.0,1,php|mysql|select|pdo,80
10445770,43037016,2017-03-27 02:25:18.11 UTC,2017-03-27 16:14:33.847 UTC,7771458.0,1,php|html|mysql|xampp,724
10445771,42670052,2017-03-08 11:26:35.51 UTC,2017-03-09 05:53:37.53 UTC,6777587.0,1,php|arrays|codeigniter,231

In [8]:
posts['tags'] = posts['tags'].str.split("|")
posts['creation_date'] = [x[:4] for x in posts['creation_date']]
posts['last_activity_date'] = [x[:4] for x in posts['last_activity_date']]

In [9]:
users['creation_date'] = [x[:4] for x in users['creation_date']]
users['last_access_date'] = [x[:4] for x in users['last_access_date']]

In [10]:
posts['creation_date'] = posts['creation_date'].astype(str).astype(float)
posts['last_activity_date'] = posts['last_activity_date'].astype(str).astype(float)

In [11]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10445772 entries, 0 to 10445771
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  int64
 1   creation_date       float64
 2   last_activity_date  float64
 3   owner_user_id       float64
 4   post_type_id        int64
 5   tags                object
 6   view_count          int64
dtypes: float64(3), int64(3), object(1)
memory usage: 557.9+ MB

In [12]:
posts_proto = posts.sample(n=10000)

In [13]:
posts_proto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 5948380 to 9748617
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  int64
 1   creation_date       10000 non-null  float64
 2   last_activity_date  10000 non-null  float64
 3   owner_user_id       9816 non-null   float64
 4   post_type_id        10000 non-null  int64
 5   tags                10000 non-null  object
 6   view_count          10000 non-null  int64
dtypes: float64(3), int64(3), object(1)
memory usage: 625.0+ KB

In [14]:
posts_proto = posts_proto.dropna()

In [15]:
print(posts_proto)

               id  creation_date  last_activity_date  owner_user_id  \
5948380  34224364         2015.0              2015.0      5668667.0
2058912  29432138         2015.0              2015.0       881635.0
1275092   9096190         2012.0              2012.0       455785.0
3400617  10762562         2012.0              2012.0       560454.0
9626592   6886493         2011.0              2018.0       541686.0
...           ...            ...                 ...            ...
2404476  16000169         2013.0              2013.0      1993389.0
5839338  36927062         2016.0              2016.0      4407093.0
2852174  25452274         2014.0              2014.0       464591.0
5903360  34036105         2015.0              2015.0      2130561.0
9748617  22880717         2014.0              2014.0      3050033.0

         post_type_id                                               tags  \
5948380             1                   [python, igraph, directed-graph]
2058912             1  [android, eclipse, android-studio, android-sdk...
1275092             1            [sql, sql-server-2005, identity-column]
3400617             1                 [image-processing, ocr, tesseract]
9626592             1                [python, introspection, python-2.6]
...               ...                                                ...
2404476             1                                           [matlab]
5839338             1      [ios, youtube, youtube-api, youtube-data-api]
2852174             1                        [mysql, mysqldump, restore]
5903360             1                        [android, web-applications]
9748617             1         [javascript, php, jquery, ajax, wordpress]

         view_count
5948380         191
2058912         990
1275092         149
3400617         198
9626592      502780
...             ...
2404476         803
5839338         648
2852174         737
5903360          68
9748617          51

[9816 rows x 7 columns]

In [16]:
all_tags_proto = posts_proto['tags']

In [17]:
all_tags_proto[0:15]

5948380                     [python, igraph, directed-graph]
2058912    [android, eclipse, android-studio, android-sdk...
1275092              [sql, sql-server-2005, identity-column]
3400617                   [image-processing, ocr, tesseract]
9626592                  [python, introspection, python-2.6]
6842894    [php, json, multidimensional-array, serializat...
3092118                            [javascript, knockout.js]
26621                       [javascript, css, reactjs, ajax]
3425559    [c#, wpf, data-binding, listbox, observablecol...
874655                                         [java, regex]
5951863                                        [php, arrays]
5581679                                    [time-complexity]
348860          [ios, objective-c, uiwebview, nsurlprotocol]
977184                                 [ruby, macos, pdflib]
4414489                         [client-server, scalability]
Name: tags, dtype: object

In [73]:
#all tags of postgres + ...
#all tags of mysql + ...
#all tags of mariadb + ...
#all tags of sql-server + ...

#tokenize list of tags and their combinations

postgres = []
element = "postgres"
for tag_list in all_tags_proto:
    for tag in tag_list:
        if element in tag:
            postgres.append(tag_list)
            
            
#creating X
postgres_features = []
for x_list in postgres:
    for x in x_list:
        postgres_features.append(x)
for i in postgres_features:
    if "postgres" in postgres_features:
        postgres_features.remove("postgres")
    
print(postgres_features)

#creating y
postgres_label = []
for i in range(len(postgres_features)):
    postgres_label.append("postgres")

print(len(postgres)) #mariadb could come up as a single tag in a post.
print(len(postgres_features))
print(len(postgres_label))

['ruby-on-rails', 'ruby-on-rails-3', 'postgresql', 'sorting', 'postgresql', 'amazon-web-services', 'postgresql', 'python', 'django', 'postgresql', 'django-models', 'django-queryset', 'sql', 'postgresql-9.2', 'sql', 'arrays', 'postgresql', 'aggregate-functions', 'unnest', 'mysql', 'database', 'postgresql', 'erlang', 'node.js', 'postgresql', 'react-native', 'expo', 'sql', 'postgresql', 'java', 'postgresql', 'maven', 'spring-cloud-gcp', 'postgresql', 'database-backups', 'database-restore', 'postgresql', 'postgresql', 'postgresql-9.1', 'corruption', 'postgresql', 'postgresql-9.1', 'corruption', 'sql', 'postgresql', 'node.js', 'database', 'postgresql', 'backend', 'postgresql', 'regex', 'postgresql', 'sql', 'database', 'postgresql', 'join', 'group-by', 'postgresql', 'database', 'spring', 'postgresql', 'spring-transactions', 'json', 'postgresql', 'sql-update', 'plpgsql', 'sql-insert', 'hibernate', 'postgresql', 'oracle', 'postgresql', 'database-migration', 'arcgis', 'database', 'postgresql', 'database', 'postgresql', 'search', 'sql', 'arrays', 'postgresql', 'postgresql', 'full-text-search', 'postgresql', 'php', 'postgresql', 'postgresql', 'azure', 'pg-dumpall', 'ruby-on-rails', 'ruby', 'postgresql', 'activerecord', 'python', 'fabric', 'postgresql-bdr', 'javascript', 'node.js', 'postgresql', 'typeorm', 'ruby-on-rails', 'oracle', 'postgresql', 'ruby-on-rails-4', 'activerecord', 'sql', 'postgresql', 'greatest-n-per-group', 'sql', 'postgresql', 'sql-insert', 'upsert', 'sql', 'bash', 'postgresql', 'psql', 'php', 'postgresql', 'orm', 'kohana', 'sql', 'postgresql', 'sql', 'postgresql', 'sql', 'database', 'postgresql', 'views', 'rules', 'sql', 'r', 'rpostgresql', 'sql', 'postgresql', 'sql', 'database', 'postgresql', 'sql', 'database', 'postgresql', 'sql', 'node.js', 'database', 'postgresql', 'pg-promise', 'java', 'postgresql', 'timezone', 'sql', 'ruby-on-rails', 'ruby', 'postgresql', 'database', 'postgresql', 'security', 'postgis', 'privacy', 'postgresql', 'enums', 'null', 'postgresql', 'ubuntu-18.04', 'psql', 'pg-dump', 'pg-restore', 'postgresql', 'hyperledger-fabric', 'hyperledger', 'hyperledger-explorer', 'postgresql', 'query-optimization', 'plpgsql', 'python', 'django', 'postgresql', 'psycopg2', 'django-database', 'postgresql', 'java', 'spring', 'postgresql', 'transactions', 'spring-data-jpa', 'php', 'laravel', 'postgresql', 'validation', 'laravel-5.5', 'database', 'postgresql', 'postgresql-9.6', 'database', 'postgresql', 'postgresql-9.6', 'macos', 'postgresql', 'database', 'postgresql', 'mule', 'anypoint-studio', 'postgresql', 'function', 'date', 'postgresql', 'etl', 'datastage', 'ruby-on-rails', 'ruby', 'postgresql', 'ruby-on-rails-3', 'datetime', 'postgresql', 'pandas']
66
213
213

In [61]:
mysql = []
element = "mysql"
for tag_list in all_tags_proto:
        if element in tag_list:
            mysql.append(tag_list)

#creating X
mysql_features = []
for x_list in mysql:
    for x in x_list:
        mysql_features.append(x)
for i in mysql_features:
    if "mysql" in mysql_features:
        mysql_features.remove("mysql")
    
print(mariadb_features)

#creating y
mysql_label = []
for i in range(len(mysql_features)):
    mysql_label.append("mysql")

print(len(mysql)) 
print(len(mysql_features))
print(len(mysql_label))
print(mysql_features)

['mysql', 'mysql', 'stored-procedures', 'database', 'innodb', 'mysql', 'database', 'database-replication', 'rds', 'python', 'prepared-statement', 'java', 'mapping', 'render', 'jooq', 'remote-access']
271
561
561
['php', 'php', 'java', 'join', 'sql', 'wordpress', 'phpmyadmin', 'mysql-error-1054', 'php', 'select', 'pivot', 'database', 'join', 'relational-database', 'one-to-many', 'php', 'in-memory-database', 'php', 'left-join', 'having-clause', 'php', 'java', 'hibernate', 'jpa', 'oracle', 'oracle-sqldeveloper', 'database-migration', 'oracle12c', 'php', 'sql', 'aggregate-functions', 'sql', 'database', 'view', 'indexing', 'innodb', 'php', 'batch-processing', 'c#', 'winforms', 'login', 'javascript', 'jquery', 'css', 'sql', 'one-to-many', 'relationship', 'database', 'postgresql', 'erlang', 'sql', 'c++', 'sql', 'containers', 'php', 'html', 'css', 'database', 'database-connection', 'connection-string', 'outsystems', 'php', 'csv', 'php', 'select', 'concat', 'javascript', 'group-by', 'php', 'html', 'pivot', 'sql', 'python', 'sql', 'sqlalchemy', 'php', 'login', 'dashboard', 'insert', 'duplicate-data', 'php', 'xml', 'sitemap', 'java', 'jsp', 'nullpointerexception', 'classnotfoundexception', 'mariadb', 'vb.net', 'php', 'datetime', 'mysqli', 'sql', 'database-design', 'sql', 'stored-procedures', 'mariadb', 'php', 'prepared-statement', 'sql', 'asp.net', 'vb.net', 'c#-4.0', 'ruby-on-rails', 'ruby-on-rails-4', 'amazon-ec2', 'sucker-punch', 'php', 'cursor', 'ddl', 'database-trigger', 'explain', 'sql', 'time', 'php', 'database', 'mysqli', 'php', 'html', 'php', 'case-sensitive', 'rds', 'indexing', 'where', 'clause', 'c#', 'javascript', 'php', 'jquery', 'autocomplete', 'php', 'sms-gateway', 'mysql-workbench', 'amazon-rds', 'jdbc', 'timezone', 'vb.net', 'concatenation', 'php', 'sql', 'php', 'ubuntu', 'phpmyadmin', 'database', 'innodb', 'sql', 'search', 'csv', 'procedure', 'sql', 'php', 'sql', 'java', 'tomcat', 'servlets', 'lookup-tables', 'php', 'nginx', 'kubernetes', 'php', 'sql', 'mysqli', 'php', 'database', 'php', 'html', 'linux', 'unix', 'amazon-ec2', 'database', 'logging', 'administration', 'sql', 'php', 'arrays', 'javascript', 'php', 'php', 'html', 'css', 'wordpress', 'php', 'html', 'database', 'forms', 'php', 'php', 'while-loop', 'vagrant', 'salt-stack', 'devops', 'sql', 'phpmyadmin', 'php', 'database', 'linked-server', 'javascript', 'php', 'jquery', 'html', 'optimization', 'indexing', 'subquery', 'php', 'php', 'sql', 'database', 'mysqli', 'php', 'php', 'database', 'shopping-cart', 'opencart', 'c#', 'php', 'unity3d', 'scripting', 'php', 'subdomain', 'whois', 'php', 'php', 'database', 'insert', 'php', 'javascript', 'mongodb', 'database', 'tomcat', 'intellij-idea', 'jndi', 'initial-context', 'php', 'database', 'random', 'database', 'mariadb', 'database-replication', 'rds', 'sql', 'r', 'database', 'wikipedia', 'c#', 'datagridview', 'grammar', 'php', 'sql', 'sql', 'npm', 'sql', 'join', 'sql-update', 'mysql-error-1054', 'php', 'android', 'json', 'serialization', 'sql-update', 'alter-table', 'drupal-6', 'search', 'indexing', 'full-text-search', 'full-text-indexing', 'sql', 'string', 'search', 'wildcard', 'javascript', 'ajax', 'reactjs', 'axios', 'java', 'hibernate', 'php', 'database', 'codeigniter', 'sql', 'regex', 'string', 'php', 'drupal', 'drupal-7', 'php', 'codeigniter', 'codeigniter-3', 'javascript', 'google-apps-script', 'google-sheets', 'php', 'laravel', 'laravel-4', 'one-to-many', 'sql', 'database', 'insert', 'mysql-error-1064', 'bulkinsert', 'javascript', 'php', 'jquery', 'ajax', 'php', 'database', 'codeigniter', 'datetime', 'select', 'timestamp', 'php', 'profile', 'php', 'php', 'regex', 'string', 'pattern-matching', 'join', 'outer-join', 'ranking', 'perl', 'zlib', 'vb.net', 'php', 'database', 'database-design', 'sql', 'sql-server', 'xml', 'json', '.net', 'database', 'triggers', 'php', 'search', 'python', 'desktop-application', 'inventory', 'php', 'sql', 'sql-server', 'database-design', 'rss', 'performance', 'join', 'php', 'laravel', 'laravel-5', 'laravel-5.4', 'php', 'laravel-5', 'database-design', 'sequelize.js', 'constraints', 'auto-increment', 'csv', 'coldfusion', 'coldfusion-9', 'count', 'linq', 'stored-procedures', 'casting', 'php', 'arrays', 'python', 'python-2.7', 'python-3.x', 'cpanel', 'php', 'android', 'php', 'ios', 'get', 'javascript', 'php', 'jquery', 'ajax', 'java', 'database-design', 'enums', 'php', 'jquery', 'ajax', 'jquery-mobile', 'sql', 'php', 'wordpress', 'join', 'go', 'php', 'database', 'rbac', 'javascript', 'php', 'moodle', 'arrays', 'json', 'sql', 'php', 'laravel', 'laravel-5', 'drop-down-menu', 'php', 'jstree', 'php', 'data-structures', 'php', 'procedural', 'npm', 'knex.js', 'php', 'database', 'checkbox', 'insert', 'dreamweaver', 'android', 'json', 'django', 'php', 'arrays', 'json', 'slim-3', 'php', 'c#', 'asp.net', 'asp.net-mvc', 'entity-framework', 'xampp', 'mysql-error-1045', 'php', 'mysqli', 'php', 'laravel-4', 'eloquent', 'php', 'sql', 'datetime', 'php', 'laravel', 'php', 'sql', 'php', 'datetime', 'datetime-format', 'date-manipulation', 'full-text-search', 'javascript', 'node.js', 'sql', 'multithreading', 'wordpress', 'php', 'sql', 'mysqli', 'php', 'mysqli', 'database', 'performance', 'database-performance', 'php', 'php', 'html', 'vb.net', 'visual-studio', 'sql', 'php', 'jquery', 'ajax', 'php', 'arrays', 'sql', 'phpmyadmin', 'php', 'html', 'database', 'macos', 'mysql-workbench', 'vb.net', 'java', 'hibernate', 'dao', 'php', 'timestamp', 'node.js', 'java', 'sql', 'database', 'hsqldb', 'php', 'git', 'vagrant', 'php', 'laravel', 'sql', 'oracle', 'plsql', 'sql', 'database', 'sqldatatypes', 'php', 'excel', 'symfony', 'php', 'excel', 'symfony', 'wamp', 'sql', 'database', 'oracle', 'normalization', 'mysqli', 'php', 'pdo', 'prepared-statement', 'php', 'database', 'linux', 'database', 'ubuntu', 'command-line-interface', 'php', 'phpmyadmin', 'google-compute-engine', 'google-cloud-sql', 'database-design', 'python', 'python-2.7', 'security', 'sql-injection', 'php', 'forms', 'codeigniter', 'checkbox', 'php', 'html', 'php', 'java', 'database', 'pdo', 'yii2', 'sql', 'database', 'oracle', 'php', 'java', 'spring', 'hibernate', 'rest', 'datetime', 'java', 'pivot', 'crosstab', 'entity-attribute-value', 'java', 'hibernate', 'linux', 'mysql-error-1064', 'infinidb', 'c#', 'nhibernate', 'mysqldump', 'restore']

In [62]:
mariadb = []
element = "mariadb"
for tag_list in all_tags_proto:
        if element in tag_list:
            mariadb.append(tag_list)
# mariadb = [' '.join([str(c) for c in lst]) for lst in mariadb]



print(mariadb)

#creating X
mariadb_features = []
for x_list in mariadb:
    for x in x_list:
        mariadb_features.append(x)
for i in mariadb_features:
    if "mariadb" in mariadb_features:
        mariadb_features.remove("mariadb")
    
print(mariadb_features)

#creating y
mariadb_label = []
for i in range(len(mariadb_features)):
    mariadb_label.append("mariadb")

print(len(mariadb)) #mariadb could come up as a single tag in a post.
print(len(mariadb_features))
print(len(mariadb_label))

[['mysql', 'mariadb'], ['mysql', 'stored-procedures', 'mariadb'], ['database', 'mariadb', 'innodb'], ['mariadb'], ['mysql', 'database', 'mariadb', 'database-replication', 'rds'], ['python', 'prepared-statement', 'mariadb'], ['java', 'mapping', 'mariadb', 'render', 'jooq'], ['mariadb', 'remote-access']]
['mysql', 'mysql', 'stored-procedures', 'database', 'innodb', 'mysql', 'database', 'database-replication', 'rds', 'python', 'prepared-statement', 'java', 'mapping', 'render', 'jooq', 'remote-access']
8
16
16

In [65]:
sql_server = []
element = "sql-server"
for tag_list in all_tags_proto:
        if element in tag_list:
            sql_server.append(tag_list)
            
#creating X
sql_server_features = []
for x_list in sql_server:
    for x in x_list:
        sql_server_features.append(x)
for i in sql_server_features:
    if "sql-server" in sql_server_features:
        sql_server_features.remove("sql-server")
    
print(sql_server_features)

#creating y
sql_server_label = []
for i in range(len(sql_server_features)):
    sql_server_label.append("sql_server")

print(len(sql_server)) #mariadb could come up as a single tag in a post.
print(len(sql_server_features))
print(len(sql_server_label))

['sql', 'wait', 'cross-database', 'windows', 'powershell', '.net', 'database', 'entity-framework', 'relational-database', 'database', 'sql-server-2008-r2', 'sql', 'sql-server-2012', 'md5', 'sql', 'constraints', 'user-defined-functions', 'php', 'tsql', 'xml', 'tsql', 'variables', 'xmltype', 'c#', 'asp.net', 'azure', 'asp.net-web-api2', 'sql', 'performance', 'tsql', 'join', 'ssl', 'encryption', 'aes', 'database', 'data-structures', 'c++', 'odbc', 'soci', 'sql', 'ssis', 'windows', 'performance', 'jboss', 'wildfly', 'database', 'ssms', 'procedure', 'sql-server-2008', 'datetimeoffset', 'c#', 'multithreading', 'stored-procedures', 'sql', 'tsql', 'stored-procedures', 'c#', 'console-application', 'scheduled-tasks', 'startup', 'sql', 'django', 'c#', 'linq', 'c#-4.0', 'short-circuiting', 'user-defined-functions', 'c#', 'sql', 'c#-4.0', 'javascript', 'c#', 'asp.net', 'sql', 'tsql', 'insert', 'common-table-expression', 'recursive-query', 'tsql', 'database-trigger', 'sql', 'sql', 'tsql', 'php', 'html', 'sql-server-2008', 'sql-server-2005', 'dns', 'sql', 'database', 'linked-server', 'openquery', 'entity-framework', 'azure-sql-database', 'sharding', 'horizontal-scaling', 'join', 'sql', 'sql-server-2008', 'reporting-services', 'asp.net', 'c#', 'asp.net', 'linq', 'sql', 'create-table', 'c#', 'sql-server-2008', 'sql', 'c#', 'database', 'entity-framework', 'entity-framework-5', 'tsql', 'sql-insert', 'sql', 'sql-server-2012', 'sql', 'tsql', 'stored-procedures', 'logic', 'sql', 'tsql', 'floating-point', 'equality', 'python', 'pyodbc', 'sql', 'regex', 'sql-server-2008', 'localdb', 'asp.net-mvc', 'sql', 'tree', 'union', 'database', 'html', 'sql', 'entity-framework', 'tsql', 'sql-server-2008', 'real-time', 'sql', 'tsql', 'date-comparison', 'tsql', 'sql-server-2012', 'sql', 'database', 'sql-server-2008', 'sql', 'oracle', 'hibernate', 'jdbc', 'hsqldb', 'php', 'echo', 'sql-server-2008', 'pagination', 'c#', 'c#', 'sql', 'sql', 'xml', 'sql', 'xml', 'tsql', 'ssis', 'tags', 'xquery', 'minimized', 'ssms', 'sql', 'sql-server-2008', 'sql', 'tsql', 'sql', 'tsql', 'matching', 'multi-table', 'mysql', 'sql', 'xml', 'json', 'excel', 'f#', 'dynamic', 'pivot', 'reporting-services', 'parameters', 'mysql', 'sql', 'sql-server-2008', 'javascript', 'ajax', 'json', 'node.js', 'c#', 'asp.net-mvc-4', 'entity-framework-5', 'code-first', 'tsql', 'constraints', 'ssms', 'sql', 'sql', 'database', 'string', 'substring', 'sql', 'sql-server-2014', '.net', 'sql', 'vb.net', 'sql-server-2005', 'stored-procedures', 'parameters', 'c#', 'sql-server-2000', 'database-connection', 'redundancy', 'python', 'sql', 'drop-down-menu', 'menu', 'sybase', 'infomaker', 'sql', 'sql-server-2008-r2', 'timezone', 'timezone-offset', 'sql', 'vb.net', 'stored-procedures', 'sql', 'sql-server-2005', 'oracle', 'ceil', 'xml', 'sqlxml', 'xml', 'tsql', 'xquery', 'shred', 'sql', 'ruby-on-rails', 'sql', 'tsql', 'sql', 'sql', 'sql-server-2008', 'tsql', 'sql-server-2008-r2', 'sql', 'backup', 'restore', 'reporting-services', 'visual-studio', 'database-project', 'duplicates', 'sql', 'c#', 'asp.net', 'azure-sql-database', 'sql', 'xml', 'tsql', 'sql', 'sql', 'tsql', 'bit-manipulation', 'sql', 'sql', 'full-text-search', 'subquery', 'django', 'constraints', 'django-mssql', 'azure', 'azure-storage', 'azure-storage-blobs', 'bulkinsert', 'c#', 'sql', 'sql-server-profiler', 'audit-logging', 'stored-procedures', 'tsql', 'stored-procedures', 'sql', 'triggers', 'sql', 'sql-server-2008-r2', 'sql', 'string', 'sql-server-2008', 'replace', 'sql', 'join', 'subquery', 'medical', 'f#', 'type-providers', 'c#', 'insert', 'scope-identity', 'c#', 'wpf', 'entity-framework', 'sql', 'tsql', 'sql-server-2016', 'sql', 'xml', 'stored-procedures', 'xml-parsing', 'tsql', 'sql', 'sql', 'text', 'string-formatting', 'sql-server-2005', 'ado.net', 'sql', 'sql-server-2005', 'sql', 'tsql', 'error-handling', 'try-catch', 'sql', 'tsql', 'count']
151
332
332

In [67]:
X = np.concatenate((postgres_features, mysql_features, mariadb_features, sql_server_features), axis = 0 )
y = np.concatenate((postgres_label, mysql_label, mariadb_label, sql_server_label), axis = 0)

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, test_size = 0.3)

NameError: name 'postgres_features' is not defined

In [ ]:
#Baseline Model

dummy = DummyClassifier(strategy='most_frequent')
scores = cross_val_score(dummy, X_train, y_train, cv=3, scoring = "accuracy") 
print (f"{scores.mean()} is the mean score")
scores

In [ ]:
# create the pipeline
dt_pipe = Pipeline([('vect', CountVectorizer(ngram_range=(1,3))),('clf', DecisionTreeClassifier())])

# pass the pipeline as if it was the classifier into a cross validation method
# the cv method will automatically figure out what to do.
scores = cross_val_score(dt_pipe, X_train, y_train, cv=4, scoring = 'accuracy')
print(f"the mean score is: {scores.mean()}")
print("The scores were:", scores)

# Summary of the DTC analysis: dunno

In [ ]:
top_tags = posts_proto['tags'].value_counts().head(50)

In [ ]:
print(top_tags)

# Moving on to User analysis

In [ ]:
#No added information about age
users = users.drop(columns = 'age')

In [ ]:
b

# Adding StackOverflow Survey Data

In [ ]:
df_20 = pd.read_csv('/Users/bens_mac/Downloads/developer_survey_2020/survey_results_public.csv')
df_19 = pd.read_csv('/Users/bens_mac/Downloads/developer_survey_2019/survey_results_public.csv')
df_18 = pd.read_csv('/Users/bens_mac/Downloads/developer_survey_2018/survey_results_public.csv')
def prettify(ax):
  ax.grid(False)
  ax.set_frame_on(False)
  ax.tick_params(top=False, bottom=False, left=False, right=False, labelbottom=False)

In [ ]:
rev_data_20 = df_20[['Respondent', 'Country', 'Age1stCode', 'UndergradMajor','Hobbyist', 'Employment','DevType', 'DatabaseDesireNextYear', 'DatabaseWorkedWith', 'PlatformDesireNextYear', 'PlatformWorkedWith']]

In [ ]:
rev_data_20 = rev_data_20.dropna()

In [ ]:
rev_data_20.info()

In [ ]:
country_20 = rev_data_20['Country'].value_counts()
top_country_20 = country_20.head(30).sort_values(ascending = True)

In [ ]:
top_country_20.plot(kind = 'barh', title = 'Number of Developers from Countries')

In [ ]:
rev_data_20['DevType'].head(59)

In [ ]:
developer_back_end = []
for i in rev_data_20['DevType']:
    if i == 'Developer, back-end':
        developer_back_end.append(i)
developer_back_end[0:15]

In [ ]:
Developer_full_stack = []
for i in rev_data_20['DevType']:
    if i == 'Developer, full-stack':
        Developer_full_stack.append(i)
len(Developer_full_stack)

In [ ]:
data_analyst = []
for i in rev_data_20['DevType']:
    if i == 'Data or business analyst':
        data_analyst.append(i)
len(data_analyst)

In [ ]:
data_scientist = []
for i in rev_data_20['DevType']:
    if i == 'Data scientist or machine learning specialist':
        data_scientist.append(i)
len(data_scientist)

In [ ]:
rev_data_20['Hobbyist'].value_counts()